*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(255, 242, 226);
}
/* .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 50px auto;
    padding: 15px;
    justify-items: center;
} */
 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 15px;
    max-width: 1200px;
 }
.pages-menu{
    margin-bottom: 100px;
}
.div-text {
    border: 1px solid gray;
    width: 200px;
}
.div-submit {
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border: 2px solid gray;
    cursor: pointer;
    transition: all 0.3s ease;
}
.div-submit:hover, .div-submit:focus{
    border-color: rgb(68, 68, 68);
    background-color: rgb(243, 243, 243);
}

.input-submit{
    background-color: lavender;
    border: 2px darkblue solid;
    transition: all 0.3s ease;
}
.input-submit:hover, .input-submit:focus{
    background-color: rgb(245, 245, 253);
    border-color: rgb(0, 0, 56);
}
.formNeform{
    display: flex;
    flex-direction: row;
}
.fnf{
    margin: 10px;
}

/* ---------------------------form-menu.html----------------------------- */
.form__item{
    margin: 10px 0;
}
.form__label{
    color: darkblue;
}

.form__field{
    margin-top: 10px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 7px;
    color: darkblue;
    background-color: lavender;
    transition: outline 0.3s, outline-offset 0.3s, background-color 0.3s;
}
.form__field:hover, 
.form__field:focus{
    outline: 1px solid rgba(91, 91, 173, 0.459);
    outline-offset: 3px;
    background-color: rgb(188, 188, 216);
}
.form__field:disabled{
    border: 1px solid rgb(73, 73, 73);
    background-color: rgba(173, 173, 173, 0.5);
}
.form__field:disabled:hover,
.form__field:disabled:focus{
    outline: none;
}

.form__btn{
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s;
}
.form__btn:hover,
.form__btn:focus{
    background-color: rgb(190, 190, 255);
    color: darkblue;
    outline: 1px solid rgba(91, 91, 173, 0.459);
}
.form__btn:disabled{
    color:rgb(73, 73, 73);
    background-color: rgba(173, 173, 173, 0.5);
}
.form__btn:disabled:hover,
.form__btn:disabled:focus{
    outline: none;
}
/* .form__field:user-valid{
    border: 1px solid green;
    background-color: rgb(169, 207, 169);
}
.form__field:user-invalid{
    border: 1px solid red;
    background-color: rgb(255, 168, 168);
}
.form__item:has(.form__field:user-invalid)::after{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    content: attr(data-error);
} */

.form__field.valid{
    border: 1px solid green;
    background-color: rgb(169, 207, 169);
}
.form__field.invalid{
    border: 1px solid red;
    background-color: rgb(255, 168, 168);
}
.form__field.invalid+.form__message-validate{
    color: red;
    font-size: 10px;
}
.form__message-validate{
    color: red;
    width: 200px;
    font-size: 10px;
}

/* ---------------------------checkboxes.html----------------------------- */
.filter-color{
    display: flex;
    gap: 15px;
    padding-top: 20px;
}
.filter-color__item{
    flex-shrink: 0;
}
.filter-color__checkbox{
    display: none;
}
.filter-color__label{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    outline: gray 0px solid;
    outline-offset: 0px;
    transition: outline 0.2s, outline-offset 0.2s;
}
.filter-color__label:hover,
.filter-color__checkbox:focus{
    outline: gray 2px solid;
    outline-offset: 2px;
    cursor: pointer;
}
.filter-color__label:active{
    outline: black 2px solid;
    outline-offset: 1px;
}
.filter-color__checkbox:checked+.filter-color__label{
    outline: gray 2px solid;
    outline-offset: 3px;
}
.filter-color__label::after{
    content: "";
    transition: transform 0.2s;
}
.filter-color__checkbox:checked+.filter-color__label::after{
    content: "\F272";
    font-family: "bootstrap-icons";
    color: gray;
    transform: scale(2);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}